@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');   /** Lien police d'ecriture **/

body{
    max-width: 1500px;
    margin: 0 ;
    padding: 0;
    font-family: 'Raleway','sans-serif';
}

.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexrow{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

p{
    margin: 0 0 5px 0;
    font-size: 16px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px 0;
}


/**      HEADER      **/


header{
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
}

.nav{
    display: flex;
    align-items: baseline;

}

.style-lien1{
    color: black;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid transparent;
    padding: 18px;
}

.style-lien2{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    padding: 14px;
    
}

.nav a:hover {
    color: #0065fc;
    border-top-color: #0065fc; 
}


/***            RECHERCHE           ***/


.section1{
    height: auto;
    width: auto;
    margin: 10px 30px;
}

h1{
    font-size: 23px;
}

.barre-recherche{
    display: flex;
}

.position{
    height: 45px;
    width: 45px;
    background-color: #F2F2F2;
    display: flex;
    border-radius: 15px 0 0 15px;
}

.position-logo{
    justify-content: center;
    align-items: center;
    width: 70px;
}

input{
    font-size: 17px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]{
    height: 45px;
    width: 255px;
    padding: 0 15px;
    outline: none;
    border: none;
    border-top: 1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2;
}

input[type="submit"]{
    border: none;
    height: 45px;
    width: auto;
    padding: 0 15px;
    outline: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#loupe {
    height: 45px;
    width: 45px;
    padding: 0 15px;
    outline: none;
    background-color: #0065FC;
    color: white;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    display: none;
    border: none;
}
/**  Filtre **/

.filtre{
    display: flex;
    margin: 20px 0px;
    align-items: baseline;
    height: auto;
}

.filtre-size{
    border: 2px solid #F2F2F2;
    height: 50px;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.filtre-color{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    margin-right: 15px;
    margin-left: -2px;
}
.filtre-size:hover > .filtre-color{
    color: white;
    background-color: #0065FC;
}

.filtre-size:hover > .filtre-p{
    color: #0065FC;
}
.filtre-p{
    padding-right: 20px;
    font-weight: bold;
    font-size: 17px;
}

.info{
    display: flex;
    align-items: baseline;
}
.info-i{
    color: #0065FC;
    font-family: serif, sans-serif;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 10px;
}


/***           Hebergement          **/


.section2{
    display: flex;
    margin: 10px 30px;
    height: auto;
}

.hebergement{
    width: 75%;
    height:auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 30px;
    padding: 30px;
}

.populaire{
    width:25%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 30px;
}

.article{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.sous-article{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    border: 4px solid white;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.sous-article:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.article-img{
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px 25px 0px 0px;
}

.article-texte{
    padding-left: 10px;
}

.etoilebleu{
    color: #0065FC;
    font-size: small;
}

.etoilegris{
    color: #F2F2F2;
    font-size: small;
}

.plus{
    margin-top: 50px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}


/**        Les plus populaire        **/

.chart-size{
    height: 30px;
    width: 30px;
}
.article1{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px
}

.sous-article1{
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 140px;
    border: 4px solid white;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.sous-article1:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.article-img1{
    height: 140px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px 0px 0px 25px;
}

.plus1{
    margin-bottom: 35px
    ;
}

/**           Activités           **/

.section3{
    margin: 30px 30px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.activite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.grande-activite{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 600px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.grande-activite:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.activite-img{
    height: 530px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 20px;
}

.activite-texte{
    padding-left: 20px;
}

.double-activite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}

.petite-activite{
    box-shadow: 5px 5px 5px #DBDBDB;
    height: 350px ;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.petite-activite1{
    box-shadow: 5px 5px 5px #DBDBDB;
    height: 200px ;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.petite-activite:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.petite-activite1:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.activite-img1{
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 20px;
}

.activite-img2{
    height: 130px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 20px;
}

/**          Footer        **/

footer{
    background-color: #F2F2F2;
}
.footer{
    display: flex;
    flex-direction: column;
}
.position-foot{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
footer h3{
    margin-top: 40px;
}
.link-footer{
    text-decoration: none;
    padding: 10px 0;
    color: black;
}
.link-footer:hover{
    text-decoration:underline;
}


/*********  RESPONSIVE DESIGN  ***************/



/**        TABLET      **/

@media screen and (max-width:1230px) {
    /**header**/
    header{
        margin: 0px 10px 20px 10px;
    }


    /**section1**/


    .section1{
        margin: 10px 20px;
        height: auto;
    }
    .filtre{
        display: flex;
        flex-wrap: wrap;
    }
    .filtre-size{
        margin-bottom:10px ;
    }
    

    /** populaire**/


    .section2{
        display: flex;
        flex-direction: column-reverse;
        margin: 10px 20px;
    }
    .populaire{
        width: auto;
    }
    .hebergement{
        width: auto;
        margin: 40px 0 0 0;
    }
    .article1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    }
    .sous-article{
        width: 300px;
    }


    /**  Activite  **/


    .section3{
        margin: 10px 20px;
    }
}


/* Changement de position pour la partie populaire */

@media screen and (max-width:983px){
    .article1 {
        display:flex;
        flex-direction: column;
    }
    .sous-article1{
        width: 100%;
    }
}


/********* PHONE  **********/


@media screen and (max-width:716px) {
    /**    header      **/
    .nav a:hover {
        color: #0065fc;
        border-top-color: transparent;
        border-bottom-color: #0065fc; 
    }
    .nav{
        display: flex;
        flex-direction: column-reverse;     
        align-items: flex-end;            
        width: 100%;
    }
    header{
        align-items: stretch;
    }
    .logo{
        position: absolute;
    }
    header .nav nav {
        display: flex;
        width: 100%;
    }

    .nav nav a{
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 17px;
        width: 50%;
        text-align: center;
        font-size: 19px;
    }


    /** barre de recherche **/


    .section1{
        height: auto;
    }
    input[type="text"]{
        width: 105%;
    }
    input[type="submit"]{
        display: none;
    }
    #loupe{
        display: block;
    }
    .filtre{
        flex-direction: column;
    }
    .barre-recherche{
        margin-top: 20px;
    }


    /** Section2 **/
 

    .section2{
        margin:0;
    }
    .titre-populaire{
        padding: 0px 20px;
    }
    .article{
        flex-direction: column;
    }
    .sous-article{
        width: 100%;
    }
    .hebergement{
        padding: 20px;
        border-radius: 0px;
        background-color: white;
        margin: 0px;
    }
    .article1{
        padding: 0px 20px;
    }
    .populaire{
        padding:0px;
        border-radius: 0;
    }
    .plus{
        margin-top:0px;
    }


    /** Section 3 **/


    .section3{
        height: 1700px;
    }
    .activite{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .grande-activite{
        width: 100%;
        height:auto;
    }
    .double-activite{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 540px;
        margin-bottom: 20px;
    }
    .petite-activite{
        height:250px;
        margin-bottom: 40px;
    }
    .petite-activite1{
        height: 250px;
        margin-bottom: 40px;
    }
    .activite-img{
        height: 190px;
    }
    .activite-img1{
        height: 190px;
    }
    .activite-img2{
        height: 190px;
    }


    /** Footer **/


    footer{
        margin-top: 50px;
        padding-left: 20px;
    }
    .position-foot{
        flex-direction: column;
    }
}
