@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body{
    margin: 0 ;
    padding: 0;
    font-family: 'Raleway','sans-serif';
}

.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexrow{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
p{
    margin: 0 0 10px 0;
}

h3{
    margin: 0 0 10px 0;
}
/****************header*************/
header{
    margin: 0px 50px;
    display: flex;
    height: 124px ;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60px;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 124px;
    align-items: center;
    width: 500px;
}

.style-lien1{
    padding: 0px 20px 0 20px;
    font-size: 20px;
    color: black ;
    text-decoration: none;
}

.style-lien2{
    color: #0065FC;
    font-weight: bold;
    
}
.bordure{
    border-top: 3px solid transparent;
}

.bordure:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 47px;
}

/*****************************En Tete*********************/
.section1{
    height: 280px;
    width: auto;
    margin: 10px 50px;
}

h1{
    font-size: 25px;
}
.barre-recherche{
    display: flex;
}

.position{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    border-radius: 15px 0 0 15px;
}

.position-logo{
    justify-content: center;
    align-items: center;
}

input{
    font-size: 20px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]{
    height: 50px;
    width: 255px;
    padding: 0 15px;
    outline: none;
    border: none;
    border-top: 1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2;
}

input[type="submit"]{
    border: none;
    height: 50px;
    width: 160px;
    padding: 0 15px;
    outline: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

h2{
    font-size: 23px;
}

.filtre{
    display: flex;
    margin: 20px 0px;
    align-items: baseline;
}

.filtre-size{
    border: 2px solid #F2F2F2;
    height: 50px;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.filtre-color{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    margin-right: 15px;
    margin-left: -2px;
}
.filtre-size:hover > .filtre-color{
    color: white;
    background-color: #0065FC;
}

.filtre-size:hover > .filtre-p{
    color: #0065FC;
}
.filtre-p{
    padding-right: 20px;
    font-weight: bold;
    font-size: 19px;
}

.info{
    display: flex;
    align-items: baseline;
}
.info-i{
    color: #0065FC;
    font-family: serif, sans-serif;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 10px;
}
/********************* Hebergement********************/

.section2{
    display: flex;
    margin: 10px 50px;
}

.hebergement{
    width: 70%;
    height:auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 40px;
    padding: 30px;
}

.populaire{
    width: 30%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 30px;
}

.article{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.sous-article{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border: 6px solid white;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.sous-article:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.article-img{
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px 25px 0px 0px;
}

.article-texte{
    padding-left: 10px;
}

.etoilebleu{
    color: #0065FC;
}

.etoilegris{
    color: #F2F2F2;
}

.plus{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/*************Les plus populaire*******************/

.chart-size{
    height: 30px;
    width: 30px;
}
.article1{
    display: flex;
    flex-direction:column;
    margin-top: 30px;
    overflow: hidden;
}

.sous-article1{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 170px;
    border: 6px solid white;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.sous-article1:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.article-img1{
    height: 170px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px 0px 0px 25px;
}

.plus1{
    padding-bottom: 60px;
}

/***************** Activités *****************************/

.section3{
    margin: 30px 50px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.activite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.grande-activite{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 600px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #DBDBDB;
}

.grande-activite:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.activite-img{
    height: 530px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 20px;
}

.activite-texte{
    padding-left: 20px;
}

.double-activite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}

.petite-activite{
    box-shadow: 5px 5px 5px #DBDBDB;
    height: 280px ;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}

.petite-activite:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.activite-img1{
    height: 210px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-bottom: 20px;
}


/************ Footer ***********************/

footer{
    background-color: #F2F2F2;
}
.position-foot{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-bottom: 30px;
}
footer h3{
    margin-top: 40px;
}
footer ul li{
    list-style: none;
    padding-top: 20px;
    list-style-position: outside;
    cursor: pointer;
}
footer ul li:hover{
    font-weight: bold;
}